*{
    margin: 0%;
    padding: 0%;
}
.nav-container{
    display: flex;
    background-color: gray;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
}
.menu{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: larger;
}
.banner-container{
    height: 100vh;
    background-image: url("./Assets/background.jpg"),linear-gradient(#56565635 , #2c2b2b23);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
   justify-content: center;
   align-items: center;
    padding: 15px;
   }
.headline{
    font-size: 55px;
    font-weight: bold;
    padding: 15px;
    color: white;
}
.para{
    color: white;
    padding: 10px;
}
.btn-1, .btn-2{
    padding: 10px;
    border: none;
}
.btn-1{
    background-color: red;
}
.btn-1:hover, .btn-2:hover{
    color: blue;
}
.service-container{
    height: 100vh;
    background-image: url("./Assets/footer-bg.png"),linear-gradient(#0a0909ea , #000000ef);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.headline-2{
    padding-top: 10px;
    font-weight: bold;
    font-size: 35px;
}
ol{
    margin-left: 15px;
    padding-bottom: 5px;
}
.left-serv-container{
    margin-left: 25px;

}
.img-author{
    height: 70px;
    width: 70px;
    border-radius: 35px;
    padding-top: 15px;
}
.img-container{
    display: flex;
    align-items: center;
    gap: 8px;
    border-right: 2px solid red;
    padding-right: 20px;
    padding-top: 5px;
}
.author-container{
    display: flex;
    align-items: center;
    gap: 35px;
    
}
.icon{
    width: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.para{
    width: 50%;
}
.box-1{
    height: 150px;
    width: 150px;
    color: black;
    text-align: center;
    background-color: white;
    padding: 25px;
    margin: 2px;
}
.first-boxes{
    display: flex;
    margin: 2px;
}
.second-boxes{
    display: flex;
    margin: 2px;
}
.right-serv-container{
margin: 10px;
}